@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

body {
    font-family:'Arial Narrow', Arial, sans-serif;
}

nav {
    font-family: 'freehand', sans-serif; 
    font-size: 2em;
}

.navbar-brand {
    margin-left: 30px;
}

.collapse {
    display: flex;
    justify-content:flex-end;
    margin-right: 30px;
}

li {
    margin-right: 50px;
}

.bgimage {
    width:100%;
    height:500px;
    background: url(images/hero2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.bgimage h1 {
    color:white;
    text-shadow:2px 2px #333;
    text-align: center;
    padding-top: 10%;
    font-family: 'freehand', sans-serif;
    font-size: 3rem;
}

.bgimage p {
    color: white;
    text-align: center;  
}

#hero-p {
text-shadow: 1px #333;
font-family: 'Arial', sans-serif;
font-size: 1rem;
}

h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'freehand', sans-serif;
    font-size: 3rem;
}

.row {
    margin-bottom: 30px;
}

.col-lg-6 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

.sr-only {
    color: white;
    font-size: 1.5rem;
}

#myCarousel img {
    max-height: 100vh;
}

.sign-up-banner img {
    max-width: 60%;
    text-align: center;
    margin-bottom: 50px;
}
.sign-up-banner {
    text-align: center;
}

.sign-up {
    text-align: center;
}